<div class="jumbotron bg-white">
  <h1 class="display-4 mb-4">Find Friends</h1>
    <% @users.each do |user| %>
      <% if !current_user.friends.include?(user) && user != current_user %>
      <div class="card mb-1">
        <div class="card-body">
          <div class="card-text">
            <%# user avatar %>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar, class:"mr-1 round-avatar" %>
            <% else %>
              <%= image_tag 'odin-logo.svg', height:'40', width:'40', class:"mr-1 round-avatar" %>
            <% end %>

            <%= link_to user.name, user, class:"text-decoration-none text-reset" %>
            <%= link_to 'Add friend', friendships_path(:friend_id => user), method: :post, class:"btn btn-outline-primary float-right" %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
</div>