<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :content, label: false, input_html: { class: "textarea"}, wrapper: false, label_html: 
      { class: "label"}, placeholder: "What's on your mind?", autofocus: true %>
    </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary mt-2" %>
<% end %>